<nav
  class="
    navbar
    sticky-top
    bg-body-tertiary
    navbar-expand-lg navbar-dark
    bg-dark
    fixed-top
  "
>
  <div class="container">
    <button class="navbar-toggler" type="button" onclick="toggleNav()">
      <span class="navbar-toggler-icon justify-content-center"></span>
    </button>
    <span>
      <a href="/">
        <img 
        src="https://github.com/fluidicon.png"  
        style="width: 2rem; cursor: pointer;"
        hr
        />
      </a>
    </span>
    <ul class="collapse navbar-collapse justify-content-center" role="tablist">
      <ul class="navbar-nav auto">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#home"
            ><i class="fa fa-home"></i> Início</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#repositories">
            <i class="fa fa-folder" aria-hidden="true"></i> Repositório</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#users">
            <i class="fa fa-user-circle" aria-hidden="true"></i> Usuários</a
          >
        </li>
      </ul>
    </ul>
  </div>
</nav>
<div class="tab-content active">
  <div class="tab-pane container" id="users">
    <br />
    <app-user-search></app-user-search>
  </div>
  <div class="tab-pane container" id="repositories">
    <br />
    <app-search></app-search>
  </div>
  <div class="tab-pane container active" id="home">
    <app-home></app-home>
  </div>
</div>
