<div class="container my-5">
  <h1 class="text-center">{{ title }}</h1>
  <div class="search-bar">
    <form (submit)="searchUsers()" class="my-3">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input
              type="text"
              [(ngModel)]="termo"
              name="searchTerm"
              placeholder="Digite aqui o nome de usuário:"
              class="form-control"
              style="font-style: italic"
            />
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="resultados?.items?.length > 0" class="container">
    <div class="row">
      <div
        *ngFor="let user of resultados.items | paginate: { itemsPerPage: 9, currentPage: page }"
        class="col-md-4 mb-4"
      >
        <div class="card h-100">
          <img
            [src]="user.avatar_url"
            alt="{{ user.login }}'s avatar"
            class="card-img-top rounded-circle mt-3 ml-0"
            style="max-height: 150px; max-width: 150px; margin-left: 1.2rem"
          />
          <div class="card-body">
            <h3>
              <a [href]="user.html_url" class="card-title" target="_blank"
                >{{ user.login }}</a
              >
            </h3>
            <hr />
            <ul class="list-unstyled">
              <li><strong>ID:</strong> {{ user.id }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ul class="pagination justify-content-center">
      <pagination-controls
        class="d-flex justify-content-center"
        previousText="Anterior"
        nextText="Próximo"
        (pageChange)="page = $event"
      ></pagination-controls>
    </ul>
  </div>
</div>
