<div class="header">
    <br />
    <h2>Projeto de API do GitHub</h2>
  </div>
  <div class="row">
    <div class="leftcolumn col-md-8">
      <div class="card">
        <h2>Como utilizar?</h2>
        <p>
          Clique em uma das opções na <strong>Barra de Navegação</strong> e
          divirta-se!
        </p>
      </div>
      <div class="card">
        <h2>Do que se trata?</h2>
        <img
          class="fakeimg"
          src="https://t.ctcdn.com.br/JyYOtyrVhIK_AagtBY2lKWT4otg=/135x0:1858x971/512x288/smart/filters:format(webp)/i329956.jpeg"
          alt=""
        />
        <br />
        <p>
          Este projeto visa utilziar a API (Application Programming Interface
          (Interface de Programação de Aplicação)), ou seja, um recurso que
          através de uma URL, "capta" informações que foram salvas em algum banco
          de dados.
        </p>
        <p>
          Sendo assim, somos capazes de receber as informações da plataforma do
          GitHub e implementa-las em nosso projeto.
        </p>
      </div>
  
      <div class="card">
        <h2>Troféus do GitHub</h2>
        <img
          src="https://github-profile-trophy.vercel.app/?username=luccazovedi&theme=dark&no-frame=false&no-bg=true&margin-w=4"
        />
      </div>
      <div class="card">
        <h5 class="card-title">
          Alguma dúvida? Quer melhorar algo? Entre em contato:
        </h5>
        <form action="enviar_email.php" method="post">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="nome"
              placeholder="Seu nome"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Seu e-mail"
            />
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              name="mensagem"
              placeholder="Digite sua mensagem"
            ></textarea>
          </div>
          <br />
          <button type="submit" class="btn btn-primary">Enviar mensagem</button>
        </form>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>Sobre</h2>
        <img
          class="fakeimg"
          src="https://avatars.githubusercontent.com/u/80693993?v=4"
          alt=""
        />
        <p class="card-text">
          Me chamo <strong>Lucca Zovedi</strong>, sou um programador dedicado e
          apaixonado por tecnologia. Tenho proximidade com Front-End e Desktop,
          mas sempre busco aprender coisas novas e me manter atualizado.
        </p>
      </div>
      <div class="card">
        <h3>Estatísticas</h3>
        <img
          src="https://github-readme-stats.vercel.app/api?username=luccazovedi&theme=bear&hide_border=false&include_all_commits=true&count_private=true"
        />
        <img
          src="https://github-readme-stats.vercel.app/api/top-langs/?username=luccazovedi&theme=bear&hide_border=false&include_all_commits=true&count_private=true&layout=compact"
        />
        <img
          src="https://github-readme-streak-stats.herokuapp.com/?user=luccazovedi&theme=bear&hide_border=false"
        />
      </div>
      <div class="card">
        <h3>Redes Sociais</h3>
        <a
          class="btn btn-block btn-social btn-github"
          href="www.github.com.br/luccazovedi"
          target="_blank"
        >
          <span class="fa fa-github"></span> GitHub
        </a>
        <a
          class="btn btn-block btn-social btn-instagram"
          href="www.instagram.com.br/luccazovedi"
          target="_blank"
        >
          <span class="fa fa-instagram"></span> Instagram
        </a>
        <a
          class="btn btn-block btn-social btn-twitter"
          href="www.twitter.com.br/luccazovedi"
          target="_blank"
        >
          <span class="fa fa-twitter"></span> Twitter
        </a>
        <a
          class="btn btn-block btn-social btn-gmail"
          href="mail.to:luccazovedi@gmail.com"
          target="_blank"
        >
          <span class="fa fa-google"></span> Gmail
        </a>
        <a
          class="btn btn-block btn-social btn-linkedin"
          href="www.linkedin.com/in/luccazovedi"
          target="_blank"
        >
          <span class="fa fa-linkedin"></span> LinkedIn
        </a>
      </div>
    </div>
  </div>
<br />
  